@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-repeat: no-repeat;

}
::selection{
    background: #32acfc;
}
header{
    background-image: url('../assets/images/pexels-photo-173427.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

/******************************************
    Navigation start
******************************************/
.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 46px;
    width: 46px;
}

.menu-button {
    background-color: rgb(229,229,229);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1000;
}


.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
}

.menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.menu-line {
    background-color: rgba(51,73,95,1);;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 { top: 0; }

.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}
.menu-line-3 { bottom: 0; }

.menu.open .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
    opacity: 0;
}

.menu.open .menu-line-3 {
    transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.menu-overlay {
    background-color: rgb(229,229,229);
    color: #333;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1001;
}

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.03s;
}

.menu-overlay a {
    color: rgb(51,73,95);
    font-weight: 500;
    font-size: 32px;
    padding: 2%;
    margin:  25% 1% 0;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s all ease;
}
.menu-overlay a:hover{
    background-color: rgb(51,73,95);
    color: rgb(229,229,229);
}
.menu-overlay > .current{
    background-color: rgb(51,73,95);
    color: rgb(229,229,229);
}
/******************************************
    Navigation end
******************************************/
header p{
    font-size: 5em;   
    color:  #e5e5e5;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    margin-left: 21.5%;
    margin-top: 300px;
    position: absolute;
    font-weight: 100;
}
.ghostbtn{
    background-color: rgba(0,0,0,0.6);
    width: 2.5%;
    padding: 10px;
    margin-left: 49%;
    position: absolute;
    top: 90%;
}
.ghostbtn:hover{
    background-color:rgba(51,73,95,1);
}
.ghostbtn a img{
    width: 100%;
}
.intro{
   height: 100vh; 
}
.intro div{
    margin-top: 50px;

}
.icons{
    font-size: 64px;
    text-decoration: none;
    color: rgba(51,73,95,0.6);
    border-radius: 0px;
    text-align: center;

    transition: 0.7s all ease;
}
.fa-wordpress{
    margin-left: 41%;
}
.fa-html5,.fa-database {
    margin-left: 43%;
}
.icons:hover{
    color: rgba(51,73,95,1);
}
.intro p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}
.sf-grid__column-1{
    margin-bottom: 50px;
}
.sf-grid__column-1 a{
    text-decoration: none;
}
.sf-grid__column-1 a i{
    display: block;
    margin: auto;
}
.project{
    background-color: rgb(252,247,248);
}
.project-last{
    margin-bottom: 100px;
}
.project h4{
    color: rgba(51,73,95,1);
    padding: 10px 20px;
}
.project h2{
    color: #4e4e4e;
    padding: 0px 20px;
    font-weight: 700px;
}
.project p{
    text-align: left;
    padding:10px 20px;
}
.project img{
    width: 100%;
}
.guide{
    text-decoration: none;
    color: black;
}
.last{
    margin-bottom: 100px;
}
.sf-grid__column-7 p{
    text-align: left;
    margin-bottom: 100px;
}
.sf-grid__column-3 img{
    width: 100%;
}
.sf-grid__column-3 p{
    text-align: left;
    padding: 5px 0px;
}
.person img{
    width: 100%;
    height: 400px;
}
.sf-grid__column-4 p{
    text-align: center;
    padding: 5px 0px;
}
#form {
  width: 40%;
  float: left;
  margin-top: 15%;
  margin-left: 5%;
}
#form h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(51,73,95);
}
input {
background: #FFF;
width: 100%;
height: 55px;
border-radius: 3px;
border: none;
font-size: 1em;
text-indent: 20px;
color: #4e4e4e;
margin: 0px auto 20px auto;
outline: none;
border:1px solid rgb(229,229,229);
 transition: 0.5s all ease-in;
}
input:focus {
  border:1px solid rgb(51,73,95);

}
input:focus::placeholder {
  color: rgb(229, 229, 229);
}
textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  resize: none;
  background: transparent;
  outline: none;
  color: rgb(51,73,95);
  font-size: 0.875em;
  border:1px solid rgb(229,229,229);
}

textarea:focus {
  border:1px solid rgb(51,73,95);
}

textarea:focus::placeholder {
  color: rgb(229, 229, 229);
}

#submit {
  width: 30%;
  float: right;
  margin: 20px auto 20px auto;
  text-indent:0px;
  cursor: pointer;
  color: rgb(229,229,229);
  background-color: rgb(51,73,95);
}

#submit:hover {
  background-color: rgb(229,229,229);
  color: rgb(51,73,95);
  border:1px solid rgb(51,73,95);
}
#map{
    float: right;
    width: 50%;
    border: solid 1px rgb(51,73,95);
}
footer{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background-color: rgb(51,73,95);
    color:rgb(229,229,229);
}
footer a{
    color: rgb(229,229,229);
}